@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');


:root {
    --primary:rgb(43, 43, 43);
    --secondary:#ffd936;
    --white: #efefef;
}

img {
    height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

a {
    text-decoration: none;
}

body {
    font-family: "DM Sans";
    color: var(--primary);
}

#main {
    background-image: url('images/main2.jpg');
    min-height: 70vh;
    background-position: bottom;
    background-size: cover;
}

.container {
    max-width: 70rem;
    padding: 2rem;
    margin: auto;
}

/* //////////////NavbAR/////////////// */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;  
    align-items: center;
}

.nav-list a{
    color: var(--white);
}

nav .logo {
    height: 3rem;
    width: auto;
}
.btn {
    height: 5vmin;
    width: 20vmin;
    padding: 0.5rem 1.5rem;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 0.09rem;
}

.btn-secondary {
    border: 0.04vmin solid var(--white);
    color: var(--white);
    font-weight: bold;
}

.menu-btn {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    display: none;
}
.btn-primary {
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10rem ;
    color: var(--white);
}

.main-content .intro-heading {
    margin-top: -2rem;
    font-size: 7vmin;
    text-transform: capitalize;
}
.main-content .main-heading {
    font-size: 18vmin;
    text-transform: capitalize;
    margin-top: -5vmin;
}
.main-content button {
    margin-top: 0.5rem;
}

.main-content p{
    font-size: 4vmin;
    text-align: center;

}

@media screen and (max-width:620px){

    .menu-btn {
        display: block;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        background: grey;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        overflow-x: hidden;
    }

    .nav-list.active {
        display: flex;
        right: 0;
    }

    .nav-list li:not(:last-child) {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid white;
    }


}